<div class="modal-auth-backdrop">
  <div class="modal-auth-container">
    <button class="modal-auth-close-button" name="close window">
      <svg class="modal-auth-icon-close">
        <use
          href="./img/symbol-defs.svg#icon-close-modal"
          height="14"
          width="14"
        ></use>
      </svg>
    </button>
    <button class="modal-auth-signout-button" name="sign out">Sign Out</button>
    <form class="modal-auth-form-signup">
      <input
        class="modal-auth-form-input"
        type="text"
        name="name"
        placeholder="name"
      />
      <input
        class="modal-auth-form-input"
        type="email"
        name="email"
        placeholder="e-mail"
      />
      <input
        class="modal-auth-form-input"
        type="password"
        name="password"
        placeholder="password"
      />
      <button class="modal-auth-from-button" type="submit">sign up</button>
    </form>
    <form class="modal-auth-form-signin">
      <input
        class="modal-auth-form-input"
        type="email"
        name="email"
        placeholder="e-mail"
      />
      <input
        class="modal-auth-form-input"
        type="password"
        name="password"
        placeholder="password"
      />
      <button class="modal-auth-from-button" type="submit">Sign In</button>
    </form>
    <ul class="modal-auth-options-list">
      <li class="modal-auth-options-signin">sign in</li>
      <li class="modal-auth-options-signup">sign up</li>
    </ul>
  </div>
</div>
