<div class="backdrop-modal-auth">
  <div class="modal-auth-container">
    <button class="modal-auth-close-button" name="close window">
      <svg class="modal-auth-icon-close">
        <use
          href="./img/symbol-defs.svg#icon-close-modal"
          height="14"
          width="14"
        ></use>
      </svg>
    </button>
    <form class="modal-auth-form">
      <input
        class="modal-auth-form-input"
        type="text"
        name="name"
        placeholder="name"
      />
      <input
        class="modal-auth-form-input"
        type="email"
        name="email"
        placeholder="e-mail"
      />
      <input
        class="modal-auth-form-input"
        type="password"
        name="password"
        placeholder="password"
      />
      <button class="modal-auth-from-button" type="submit">sign up</button>
    </form>
  </div>
</div>
