.page-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 119%;
  letter-spacing: -0.04em;
}

.page-title > span {
  color: #4f2ee8;
}

@media screen and (min-width: 768px) {
  .page-title {
    font-size: 48px;
    line-height: 1.08;
  }
}

@media screen and (min-width: 1440px) {
}

.book-category-item:hover {
  cursor: pointer;
  scale: 1.01;
}

/* .book-category-item:hover > .img-cover > .book-category-image {
  scale: 1.001;
  transition: 0.2s;
  box-shadow: 0px 0px 6px 6px rgba(0, 0, 0, 0.46);
  border-radius: 8px;
} */
